body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.bar {
  background-color: teal;
  height: 20px;
  margin-top: 2px;
}
.science {
  background-color: goldenrod;
  height: 20px;
  margin-top: 2px;
}
.math {
  background-color: maroon;
  height: 20px;
  margin-top: 2px;
}
#chart {
  position: relative;
  padding: 10px 10px 20px 50px;
  margin-bottom: 20px;
}
